.admin-body {
  padding: 15vh 15vw;
}
.service-card-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.service-card {
  margin: 2vh;
  padding: 1vh;
  min-width: 10vw;
  max-width: 20vw;
  min-height: 20vh;
  padding: 3vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}
.service-card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card-color:nth-child(1n + 0) {
  background: radial-gradient(#1fe4f5, #3fbafe);
}
.card-color:nth-child(2n + 0) {
  background: radial-gradient(#fbc1cc, #fa99b2);
}
.card-color:nth-child(3n + 0) {
  background: radial-gradient(#76b2fe, #b69efe);
}
.card-color:nth-child(4n + 0) {
  background: radial-gradient(#60efbc, #58d5c9);
}
.card-color:nth-child(5n + 0) {
  background: radial-gradient(#f588d8, #c0a3e5);
}
.service-card h1 {
  color: #fff;
}
.service-card h4 {
  color: #fff;
  margin-bottom: 10px;
}
.btn {
  margin: 1vh 3vh;
  padding: 1vh 3vh;
  color: #fff;
  border: none;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 2px;
}
.btn-edit {
  background-color: transparent;
  border: 1px solid #edbe4d;
}
.btn-delete {
  background-color: transparent;
  border: 1px solid #f26967;
}
.btn-edit:hover {
  background-color: #edbe4d;
}
.btn-delete:hover {
  background-color: #f26967;
}
.service-card-btns
{
  display: flex;
  flex-direction: row;
}
.list-Beautician-sec
{
  min-height: 100vh;
}
.list-Beautician-sec h1
{
text-align: center;
margin: 4vh auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th{
  background-color:#edbe4d;
  text-align: left;
  padding: 16px;
  font-family: mulib;
}

 td {
  text-align: left;
  padding: 16px;
  font-family: muli;
}

tbody:nth-child(odd)
{
  background-color: #d9d7fc;
}
.color-r
{
  color: #f26967;
}
.color-r:hover{
  color: #fff;
}