@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
#chart{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
#chart1{
  width: 250px;
  height: 250px;
}
#chart2{
  width: 500px;
  height: 500px;
}
.hero-sec {
  min-height: 100vh;
  background-image: url(./../assets/hero-bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
}
.he-hero-sec {
  background-image: url(./../assets/he-hero-bg.jpg);
}
.she-hero-sec {
  background-image: url(./../assets/she-hero-bg.jpg);
}
.navbar-sec {
  width: 100%;
  background: rgba(231, 231, 231, 0.452);
  box-shadow: 0px 0.5px 20px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 999;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 9vw;
  padding: 3vh 0;
}
.nav-items {
  align-self: center;
  display: flex;
  flex-direction: row;
}
.nav-items a {
  margin: 1vh 1vw;
  text-decoration: none;
  color: black;
}
.nav-link:hover {
  text-decoration: underline;
  color: #f26967;
}
.nav-logo {
  align-self: center;
  margin-right: 10vw;
}
.nav-logo h1 {
  font-size: 4vh;
}
.nav-button {
  align-self: center;
}
.nav-button button {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 500;
  background-color: #edbe4d;
  -webkit-box-shadow: 0px 3px 3px 1px rgba(32, 30, 30, 0.15);
  box-shadow: 0px 3px 3px 1px rgba(32, 30, 30, 0.15);
  cursor: pointer;
}
.nav-button button:hover {
  background-color: #f2cf7b;
}
.hero-container {
  align-self: center;
  margin: 0 9vw;
}
.hero-text {
  text-align: center;
  color: #fff;
}
.hero-text {
  font-size: 6vh;
}
.sec2 {
  min-height: 80vh;
  padding: 10vh 9vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.sec2 h1 {
  margin-top: 5vh;
}
.card-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin-top: 20vh;
}
.card {
  max-width: 240px;
  padding: 20px;

  margin: 0 20px;
}
.card-img {
  width: 50%;
  height: auto;
}
.card h3 {
  margin-top: 4vh;
}
.card p {
  margin-top: 2vh;
}
.sec3 {
  min-height: 80vh;
  background-image: url(./../assets/sec3img.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.sec3-body {
  text-align: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;

  color: #fff;
  display: flex;
  flex-direction: column;
}
.sec3-body h1 {
  font-size: 5vh;
  margin-bottom: 1vh;
}
.sec3-body p {
  margin-bottom: 2vh;
}
.sec3-body div {
  align-self: center;
  display: flex;
  flex-direction: row;
}
.sec3-body div button {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 2vh 2vw;
  margin: 1vh 1vw;
}
.sec3-body div button:hover {
  background-color: #fff;
  color: #000000;
}
.sec4 {
  min-height: 70vh;
  padding: 10vh 9vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.sec4 h1 {
  margin-top: 5vh;
}
.slider {
  flex-grow: 1;
  min-height: 20vh;
  margin-top: 20vh;
}

.slider-item {
  margin: 2vh;
  padding: 1vh;
  min-width: 10vw;
  max-width: 20vw;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}
.slider-item:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}
.card-color:nth-child(1n + 0) {
  background: radial-gradient(#1fe4f5, #3fbafe);
}
.card-color:nth-child(2n + 0) {
  background: radial-gradient(#fbc1cc, #fa99b2);
}
.card-color:nth-child(3n + 0) {
  background: radial-gradient(#76b2fe, #b69efe);
}
.card-color:nth-child(4n + 0) {
  background: radial-gradient(#60efbc, #58d5c9);
}
.card-color:nth-child(5n + 0) {
  background: radial-gradient(#f588d8, #c0a3e5);
}
.slider-item h1 {
  color: #fff;
}
.slider-item p {
  color: #fff;
  margin-bottom: 10px;
}
.footer {
  background-color: #000000;
  padding: 20vh 9vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}
.footer-address {
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
}
.mr-1 {
  margin-right: 1vw;
}
.footer-menu {
  display: flex;
  flex-direction: column;
}
.footer-menu a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  margin: 1vh 0;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 299px;
  width: 438px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 299px;
  width: 438px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn-nav {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 500;
  background-color: #edbe4d;
  -webkit-box-shadow: 0px 3px 3px 1px rgba(32, 30, 30, 0.15);
  box-shadow: 0px 3px 3px 1px rgba(32, 30, 30, 0.15);
  cursor: pointer;
}
.btn-nav:hover {
  background-color: #f2cf7b;
}
.scard {
  justify-content: center;
  max-width: 8vh;
}
