<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aesthetic</title>
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/logo.css" />
    <script
      src="https://kit.fontawesome.com/154fa5a621.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <nav class="navbar-sec">
      <div class="navbar">
        <div class="nav-items">
         
          <a class="nav-link" href="/allservices">Services</a>
          <a class="nav-link" href="/contactus">contactus</a>
        </div>
        <div class="nav-logo">
          <h1 class="logo">AESTHETIC</h1>
        </div>
        <div class="nav-button">
          <button id="myBtn">Shedule Appointment</button>
        </div>
      </div>
    </nav>

    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Shedule Appointment at</h1>
        <div style="margin-top: 5vh">
          <a href="./appointment"><button class="btn-nav">Doorstep</button></a>
          <a href="./appointmentSalon"><button class="btn-nav">salon</button></a>
        </div>
      </div>
    </div>
    <section class="background bg-centered bg3" style="min-height: 80vh">
      <div
        class="container container-centered"
        style="padding: 10vh 10vw; margin-top: 10vh"
      >
        <h1 style="text-align: center; margin-bottom: 5vh">About us</h1>
        <p class="about">
          Aesthetic Beauty At Home is a Web-based salon application with appointment scheduling
          functionality. It connects clients, salons, and stylists in an online
          community allowing users to browse salons , and bookappointments. Users can also write and read reviews of salons
          and stylists. Salons can specify the stylists that work at their
          salons, as well as the services they offer. Salons can also book
          appointments for customers and can view  schedules in
          convenient formats. My project will use Ejs,Nodejs and MongoDB to back
          the interface with strong database functionality. For appointment
          scheduling, Some of the major use cases include user account registration,
          login/logout, appointment scheduling, schedule viewing, adding
          stylists and services to a salon account, adding
          schedules to stylist account, 
          writing and reading reviews for specified salons and/or services, and
          creating temporal salon promotions that users can browse  in
          our application.
        </p>
      </div>
    </section>
  </body>
  <script src="/js/model.js"></script>
</html>
