<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aesthetic</title>

    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/logo.css" />
    <script
      src="https://kit.fontawesome.com/154fa5a621.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar-sec">
      <div class="navbar">
        <div class="nav-items">
          <!-- <a class="nav-link" href="/adminpage">home</a> -->
          <a class="nav-link"  href="/adminpage" >Home</a>
          <a class="nav-link" href="/listServices">Services</a>
          
          <a class="nav-link" href="">appointment</a>
          <a class="nav-link" href="/addBeautician">beautician </a>
        </div>
        <div class="nav-logo">
          <h1 class="logo">AESTHETIC</h1>
        </div>
        <div class="nav-button">
          <a href="/addservice"><button id="myBtn">Add services</button></a>
        </div>
      </div>
    </nav>
    <section class="list-Beautician-sec" style="margin:5vh auto">
        <h1 >
            Beautician's
        </h1>
    
        <table>
            <thead>
              <th>Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Gender</th>
              
    
              
              
              
              
            </thead>
            
                <%
               if(users.length!=0){
               var i=1;
               users.forEach(function(users){
               %>
               <tbody id="tbody">
                   <tr>
                <td><%=users.name %></td>
                <td><%=users.phone_no %></td>
                <td><%=users.email %></td>
                <td><%=users.gender %></td>
                
            </tbody>
    
                <%  i++; }) %>
                 <% } %>
    
        </table>
    
    </section>
  </body>
</html>
