<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/index.css" />
    <script
      src="https://kit.fontawesome.com/154fa5a621.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar-sec">
      <div class="navbar">
        <div class="nav-items">
          <!-- <a class="nav-link" href="/adminpage">home</a> -->
          <a class="nav-link" href="/listServices">Services</a>
          <a class="nav-link" href="">users</a>
          <a class="nav-link" href="">appointment</a>
        </div>
        <div class="nav-logo">
          <h1>Salon</h1>
        </div>
        <div class="nav-button">
          <a href="/addservice"><button id="myBtn">Add services</button></a>
        </div>
      </div>
    </nav>
    <section class="">

    </section>
  </body>
</html>
