<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/index.css" />
    
    <script src="/js/model.js"></script>
    <script
      src="https://kit.fontawesome.com/154fa5a621.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar-sec">
      <div class="navbar">
        <div class="nav-items">
          <!-- <a class="nav-link" href="/adminpage">home</a> -->
          <a class="nav-link" href="/listServices">Services</a>
          <a class="nav-link" href="/userlist">users</a>
          <a class="nav-link"  href="/feedbacks" >Messages</a>
          <a class="nav-link" href="/addBeautician">beautician </a>
        </div>
        <div class="nav-logo">
          <h1>Salon</h1>
        </div>
        <div class="nav-button">
          <a href="/addservice"><button >Add services</button></a>
        </div>
        <div class="nav-button">
         <button id="myBtn" >Appointments</button>
        </div>
      </div>
    </nav>

    

    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1> Appointment at</h1>
        <div style="margin-top: 5vh">
          <a href="/admin/appointment"><button class="btn-nav">Doarstep appointments </button></a>
          <a href="/admin/appointmentSalon"
            ><button class="btn-nav">salon appointments</button></a
          >
        </div>
      </div>
    </div>

    <section class="">

    </section>
  </body>
  <script src="/js/model.js"></script>
</html>
