<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aesthetic</title>

    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <script
      src="https://kit.fontawesome.com/154fa5a621.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar-sec">
      <div class="navbar">
        <div class="nav-items">
          <!-- <a class="nav-link" href="/adminpage">home</a> -->
          <a class="nav-link"  href="/adminpage" >Home</a>
          <a class="nav-link" href="/listServices">Services</a>
          
         
          <a class="nav-link" href="/addBeautician">beautician </a>
        </div>
        <div class="nav-logo">
          <h1>Aesthetic</h1>
        </div>
        <div class="nav-button">
          <a href="/addservice"><button id="myBtn">Add services</button></a>
        </div>
      </div>
    </nav>
    <section  style="padding-top:15vh ">
        <h1 style="text-align: center">
            Messages
        </h1>
    
        <table>
            <thead>
              <th>Name</th>
              <th>Email</th>
              <th>Message</th>
              
            </thead>
            
                <%
               if(feebacks.length!=0){
               var i=1;
               feebacks.forEach(function(feebacks){
               %>
               <tbody id="tbody">
                   <tr>
                <td><%=feebacks.name %></td>  
                <td><%=feebacks.email %></td>
                <td><%=feebacks.message %></td>
               
                
            </tbody>
    
                <%  i++; }) %>
                 <% } %>
    
        </table>
    
    </section>
  </body>
  <script src="/js/model.js"></script>
</html>
