<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/bookappointment" method="POST">
        <input name="name" type="text" placeholder="Name" value=<%=profile.name %> required />
        <input name="phone" type="tel" placeholder="Phone No" value=<%=profile.phone_no %> required />
        <input name="date" type="date" placeholder="Date" required />
        <input name="time" type="time" placeholder="Time" required />
        <label for="service">Choose a car:</label>
        <select name="service" id="service" multiple>
            <option value="service1">Service1</option>
            <option value="service2">Service2</option>
            <option value="service3">Service3</option>
            <option value="service4">Service4</option>
        </select>
        <textarea name="address" id="" cols="30" rows="10"></textarea>
        <button type="submit">schedule</button>
    </form>
</body>

</html>