<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>salon</title>
    <link rel="stylesheet" href="css/login.css" />
    <script
      src="https://kit.fontawesome.com/154fa5a621.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <section class="background bg-centered">
      <div class="container container-centered">
        <form class="app-form" action="/bookappointment" method="POST">
          <h1 style="text-align: center;">Schedule at DoarStep</h1> 
          <div class="input-box">
            <i class="fas fa-user-alt"></i>
            <input type="text"  name="name" placeholder="Name" required value="<%= profile.name %>"   required/>
          </div>
          <div class="input-box">
            <i class="fas fa-phone-alt"></i>
            <input
              type="tel"
              placeholder="Phone number"
              required
              pattern="[0-9]{10}"
              title="Mobile should not contain letters and more than 10 digits"
              name="phone"
              value="<%= profile.phone_no%>"
            required
            />
          </div>
          <div class="input-box">
            <!-- <i class="fas fa-user-alt"></i> -->
            <input name="date" type="date" placeholder="Date" required />
          </div>
          <div class="input-box">
            <!-- <i class="fas fa-user-alt"></i> -->
            <input name="time" type="time" placeholder="Time" required />
          </div>
          
          
          
          <label for="service">Choose a Serice:</label>
          <select class="input-box multi-box" name="service" id="service" multiple required>
            <option value="service1">Hair Style</option>
            <option value="service2">Service2</option>
            <option value="service3">Service3</option>
            <option value="service4">Service4</option>
            
          </select>
          <p class="txt-thin" style="margin-bottom:1.5vh">Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>
          <label for="service">Compleate address:</label>
          <textarea class="input-box multi-box" name="address" id="" cols="20" rows="5" style="margin-bottom: 1.5vh;"></textarea>
          <button class="submit-btn" type="submit">schedule</button>
        </form>
      </div>
    </section>
  </body>
</html>
