<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aesthetic</title>
    <link rel="stylesheet" href="css/login.css" />
    <script src="https://kit.fontawesome.com/154fa5a621.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="background bg-centered" style="min-height: 80vh">
        <div class="container container-centered">
            <form class="app-form" action="/beauticianlogin" method="POST">
                <h1 style="text-align: center">Beautician login</h1>

                <div class="input-box">
                    <i class="fas fa-envelope"></i>
                    <input type="phone" placeholder="Phone no" name="phone_no" required />
                </div>

                <div class="input-box">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Your Password" required name="password" />
                </div>
                <button class="submit-btn" type="submit">Login</button>
            </form>
        </div>
    </section>
</body>

</html>