<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Salon</title>
    <link rel="stylesheet" href="css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css"
    />
    <script
      src="https://kit.fontawesome.com/154fa5a621.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar-sec">
      <div class="navbar">
        <div class="nav-items">
          <a class="nav-link" href="#">Hi <%= name %></a>
          <a class="nav-link" href="#">Services</a>
          <a class="nav-link" href="/dapp">Recent</a>
          <a class="nav-link" href="./logout">logout</a>
        </div>
        <div class="nav-logo">
          <h1>Salon</h1>
        </div>
        <div class="nav-button">
          <a href="./appointment"><button>Shedule Appointment</button></a>
        </div>
      </div>
    </nav>
    <section class="hero-sec he-hero-sec">
      <div class="hero-container">
        <div class="hero-text">
          <h1>
            Improve<br />
            Your
          </h1>
          <h5>Selfies</h5>
          <h1>
            See Your<br />
            Stylist
          </h1>
          
        </div>
      </div>
    </section>
  </body>
</html>
