<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aesthetic</title>

    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/logo.css" />
    <link rel="stylesheet" href="css/logo.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css"
    />
    <script
      src="https://kit.fontawesome.com/154fa5a621.js"
      crossorigin="anonymous"
    ></script>

  </head>
  <body>
    <nav class="navbar-sec">
      <div class="navbar">
        <div class="nav-items">
          <a class="nav-link" href="/aboutus">About</a>
          <a class="nav-link" href="/allservices">Services</a>
          <a class="nav-link" href="/contactus">Contact</a>
          <a class="nav-link" href="/login">login</a>
        </div>
        <div class="nav-logo">
          <p class="logo">AESTHETIC</p>
        </div>
        <div class="nav-button">
          <a href="./appointment"><button >Schedule Appointment</button></a>
        </div>
      </div>
    </nav>
    
    <section class="hero-sec">
      <div class="hero-container">
        <div class="hero-text">
          <h1>
            Improve<br />
            Your
          </h1>
          <h5>Selfies</h5>
          <h1>
            See Your<br />
            Stylist
          </h1>
        </div>
      </div>
    </section>
    <section class="sec2">
      <h1>Why Our Salon?</h1>
      <div class="card-div">
        <div class="card">
          <img class="card-img" src="assets/category_1.png" alt="" />
          <h3>Transparent pricing</h3>
          <p>See fixed prices before you book. No hidden charges.</p>
        </div>
        <div class="card">
          <img class="card-img" src="assets/category_2.png" alt="" />
          <h3>Experts only</h3>
          <p>Our professionals are well trained and have on-job expertise.</p>
        </div>
        <div class="card">
          <img class="card-img" src="assets/category_3.png" alt="" />
          <h3>Fully equipped</h3>
          <p>We bring everything needed to get the job done well.</p>
        </div>
      </div>
    </section>
    <section class="sec3">
      <div class="sec3-body">
        <h1>We can't wait to see you.</h1>
        <p>Schedule your Appointment at</p>
        <div>
          <a href="/appointment"><button>DoorStep</button></a>
          <a href="./appointmentSalon"><button>Salon</button></a>
        </div>
      </div>
    </section>
    <section class="sec4">
      <h1>Services</h1>
      <div class="slider">
        <div class="slider-item card-color">
          <h1>Men's Hair style</h1>
          <p>Schedule now &#8594</p>
        </div>
        <div class="slider-item card-color">
          <h1>Women's Hair style</h1>
          <p>Schedule now &#8594</p>
        </div>
        <div class="slider-item card-color">
          <h1>Facial</h1>
          <p>Schedule now &#8594</p>
        </div>
        <div class="slider-item card-color">
          <h1>Eyebrows</h1>
          <p>Schedule now &#8594</p>
        </div>
        <div class="slider-item card-color">
          <h1>Waxing</h1>
          <p>Schedule now &#8594</p>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div>
        <p class="logo">AESTHETIC BEAUTY HUT</p>
       <div class="mapouter" style="margin-top:2vh">
         <div class="gmap_canvas">
           <iframe width="438" height="299" id="gmap_canvas"   src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Aesthetic Herbal Beauty J p nagar&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
          </iframe><a href="https://getasearch.com/fmovies"></a><br>
          
          
          </div></div>
      </div>
      <div >
        <div class="footer-address"><i class="fas fa-location-arrow fa-lg mr-1"></i> <p> 375 12th Main 5th Phase JP Nagar, <br />
          Bengaluru, Karnataka 560079</p></div>
        <div class="footer-address"><i class="fas fa-phone-alt mr-1 fa-lg"></i><p>080-97432145</p></div>
        <div class="footer-address"><i class="fas fa-envelope mr-1 fa-lg"> </i><p>contact@Aesthetic.com</p></div>
      </div>
      <div class="footer-menu">
        <h1>Menu</h1>
        <a href="/aboutus">About</a>
        <a href="/contactus">Contact</a>
        <a href="/allservices">Services</a>
        <a href="/login">login</a>
        <a href="/signup">Signup</a>
        <a href="/beauticianLogin">Beautician</a>
        <a href="/adminlogin">Admin</a>
      </div>
    </footer>
  </body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<script>
  var slider = tns({
    container: ".slider",
    items: 1,

    autoplay: true,
    mouseDrag: true,
    loop: true,
    rewind: true,
    autoplayTimeout: 1000,
    speed: 4000,
    nav: false,
    // fixedWidth: 280,
    controls: false,
    edgePadding: 15,
    autoplayButtonOutput: false,
    autoWidth: false,
    preventActionWhenRunning: true,

    responsive: {
      640: {
        items: 2,
      },
      700: {
        items: 2,
      },
      900: {
        items: 2,
      },
    },
  });



</script>

<!-- <a href="./login"><button>Login</button></a>
<a href="./signup"><button>Signup</button></a> -->
