<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aesthetic</title>

    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/admin.css" />
    <link rel="stylesheet" href="css/logo.css" />
    <script
      src="https://kit.fontawesome.com/154fa5a621.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar-sec">
      <div class="navbar">
        <div class="nav-items">
          <!-- <a class="nav-link" href="/adminpage">home</a> -->
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/services">Services</a>
          <a class="nav-link" href="/contactus">contactus</a>
        </div>
        <div class="nav-logo">
          <h1 class="logo">AESTHETIC</h1>
        </div>
        <div class="nav-button">
          <a href="/appointment"
            ><button id="myBtn">Schedule Appointment</button></a
          >
        </div>
      </div>
    </nav>

    <section class="admin-body">
      <h1 style="text-align: center">Female Services</h1>
      <div class="service-card-div">
        <% if(femaleServices.length!=0){ var i=1;
        femaleServices.forEach(function(femaleServices){ %>
        <div
          class="service-card card-color scard"
          style="justify-content: center; max-height: 2vh;min-width: 10vw;"
        >
          <h1><%= femaleServices.serviceName %></h1>
          <h4>cost:<%= femaleServices.cost %></h4>
        </div>
        <% i++; }) %> <% } %>
      </div>
    </section>

    <section class="admin-body">
      <h1 style="text-align: center">Male Services</h1>
      <div class="service-card-div">
        <% if(maleServices.length!=0){ var i=1;
        maleServices.forEach(function(maleServices){ %>
        <div class="service-card card-color scard">
          <h1><%= maleServices.serviceName %></h1>
          <h4>cost: <%= maleServices.cost %></h4>
        </div>
        <% i++; }) %> <% } %>
      </div>
    </section>
  </body>
</html>
