<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/css/recent.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <nav class="navbar-sec">
      <div class="navbar">
        <div class="nav-items">
          <a class="nav-link" href="#">Services</a>
          <a class="nav-link" href="/dapp">Recent</a>
          <a class="nav-link" href="./logout">logout</a>
        </div>
        <div class="nav-logo">
          <h1>Salon</h1>
        </div>
        <div class="nav-button">
          <button id="myBtn">Shedule Appointment</button>
        </div>
      </div>
    </nav>

    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Shedule Appointment at</h1>
        <div style="margin-top: 5vh">
          <a href="./appointment"><button class="btn-nav">Doarstep</button></a>
          <a href="./appointment"><button class="btn-nav">salon</button></a>
        </div>
      </div>
    </div>
    <section class="recent-body recent-body1">
       <div class="slider-item card-color">
          <h1>Men's Hair style</h1>
          <p>Schedule now &#8594</p>
        </div>
        <div class="slider-item card-color">
          <h1>Women's Hair style</h1>
          <p>Schedule now &#8594</p>
        </div>
        <div class="slider-item card-color">
          <h1>Men's Hair style</h1>
          <p>Schedule now &#8594</p>
        </div>
        <div class="slider-item card-color">
          <h1>Men's Hair style</h1>
          <p>Schedule now &#8594</p>
        </div>
        <div class="slider-item card-color">
          <h1>Men's Hair style</h1>
          <p>Schedule now &#8594</p>
        </div>
    </section>


  </body>
</html>
