<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/css/recent.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/admin.css" />
  </head>

  <body>
    <nav class="navbar-sec">
      <div class="navbar">
        <div class="nav-items">
          <a class="nav-link" href="#">Services</a>
          <a class="nav-link" href="/dapp">Recent</a>
          <a class="nav-link" href="./logout">logout</a>
        </div>
        <div class="nav-logo">
          <h1>Salon</h1>
        </div>
        <div class="nav-button">
          <button id="myBtn">Shedule Appointment</button>
        </div>
      </div>
    </nav>

    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Shedule Appointment at</h1>
        <div style="margin-top: 5vh">
          <a href="./appointment"><button class="btn-nav">Doarstep</button></a>
          <a href="./appointment"><button class="btn-nav">salon</button></a>
        </div>
      </div>
    </div>

    <section class="recent-body">
      <h1 style="text-align: center"><%= gender%> Services</h1>
      <div class="service-card-div">
        <% if(Services.length!=0){ var i=1; Services.forEach(function(Services){
        %>
        <div class="service-card card-color">
          <h1><%= Services.serviceName %></h1>
          <h4>cost: <%= Services.cost %></h4>
        </div>
        <% i++; }) %> <% } %>
      </div>
    </section>
  </body>

  <script src="/js/model.js"></script>
</html>
